---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main id="main-content">
    <section class="flex items-center justify-center min-h-screen">
      <h1 class="text-4xl" style="font-family: var(--font-serif);">DotEdit</h1>
    </section>
  </main>
</BaseLayout>
